html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.hidden {
  display: none;
}

span {
  color: white;
  margin-right: 15px;
  font-size: 20px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
}

input {
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  outline: none;
  text-align: center;
  color: white;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#weather {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
}

#weather span {
  font-style: italic;
  font-size: 15px;
  opacity: 0.8;
}

#clock {
  position: flex;
  margin-top: 150px;
  margin-bottom: 0;
  font-size: clamp(5rem, -2.0313rem + 22.5vw, 10.625rem);
  color: white;
  text-align: center;
}

#login-form {
  position: flex;
  text-align: center;
  justify-content: center;
}

#login-form input:first-child {
  width: auto;
  height: 55px;
  margin: 21px;
  font-size: clamp(1.25rem, 0.7031rem + 1.75vw, 1.6875rem);
}

#greetings {
  height: 55px;
  font-size: clamp(1.5625rem, 0.3906rem + 3.75vw, 2.5rem);
  margin-bottom: 10px;
}

#focus-form {
  position: flex;
  text-align: center;
  justify-content: center;
}

#focus-container {
  margin-top: 20px;
}

.focus-item {
  margin-bottom: 10px;
  font-size: clamp(2rem, 0.4688rem + 2.5vw, 3rem);
  color: red;
}

#focus-form input:first-child {
  width: auto;
  height: 45px;
  font-size: clamp(1.25rem, 0.7031rem + 1.75vw, 1.6875rem);
}

#login-form input:first-child::placeholder,
#focus-form input:first-child::placeholder,
#greetings input:-webkit-autofill::placeholder {
  text-align: center;
  color: white;
  font-size: clamp(1.25rem, 0.7031rem + 1.75vw, 1.6875rem);
}

#todo {
  position: absolute;
  right: 2rem;
  bottom: 3rem;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px #000000;
}

.todo-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#todo-container {
  position: absolute;
  right: 2rem;
  bottom: 5rem;
  width: auto;
  min-height: 200px;
  display: grid;
  align-items: center;
  background: black;
  border-radius: 7px;
  display: none;
}

#todo-container::after {
  display: none;
}

#addTodoText {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

#list-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 1rem;
  padding: 0 1rem 1rem;
}

#new-todo-input {
  align-self: end;
  line-height: 2rem;
  padding-left: 10px;
  background: transparent;
  font-size: 1rem;
}

.todos {
  padding-bottom: 0.5rem;
}

#quotes {
  width: auto; /* Adjust width as needed */
  max-width: 80%; /* Set a maximum width to prevent taking too much space */
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

#quotes span {
  display: inline-block; /* Ensure the span takes up only the necessary width */
  font-size: clamp(0.125rem, -0.6563rem + 2.5vw, 0.75rem);
}

#addQuoteBtn {
  display: flex;
  position: fixed;
  font-size: 2rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7vh;
  z-index: 999;
}

#change-name-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

#change-name-input {
  display: none;
  background: transparent;
  color: white;
  padding: 5px;
  margin-right: 5px;
  width: auto;
}

#change-name-input::-moz-placeholder {
  color: white; /* Change the color as needed */
}

#change-name-input::placeholder {
  color: white; /* Change the color as needed */
}/*# sourceMappingURL=style.css.map */